In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib .pyplot as plt #importing info into graphs
%matplotlib inline
import seaborn as sns #for pretty/more detailed graphs
import scipy.stats as stats
pd.set_option('display.max_columns',None) #gives space so i can view all of the collumns

In [2]:
file1= pd.read_csv('/Users/hpb/PycharmProjects/Ironhack/Unit4_lab-cleaning-numerical-data-master/files_for_lab/autoinsurance.csv')

In [3]:
column_names=file1.columns 
data=pd.DataFrame(columns=column_names) 
customer_df=pd.concat([data,file1],axis=0)

In [4]:
customer_df['Effective To Date']=pd.to_datetime(customer_df['Effective To Date'], errors='coerce') #Change object to Datetime format.

In [5]:
def clean_data(df):
    df.columns=[e.lower().replace(' ', '_') for e in df.columns] #lowercase and replace white space.
    return df
clean_data(customer_df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [6]:
round(customer_df.isna().sum()/len(customer_df),4)*100 #check for nulls in all values

customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
dtype: float64

In [7]:
customer_df.describe() #no NaN but to further check we use the describe function.
#number of open complaints and income have 0's.

       customer_lifetime_value  total_claim_amount
count              9134.000000         9134.000000
mean               8004.940475          434.088794
std                6870.967608          290.500092
min                1898.007675            0.099007
25%                3994.251794          272.258244
50%                5780.182197          383.945434
75%                8962.167041          547.514839
max               83325.381190         2893.239678

In [8]:
mean_income=customer_df['income'].mean(skipna=True)
customer_df['income']=customer_df.income.mask(customer_df.income==0,mean_income) #replace null incomes with the mean

In [9]:
numericals = customer_df.select_dtypes(np.number)
numericals

      customer_lifetime_value  total_claim_amount
0                 2763.519279          384.811147
1                 6979.535903         1131.464935
2                12887.431650          566.472247
3                 7645.861827          529.881344
4                 2813.692575          138.130879
...                       ...                 ...
9129             23405.987980          198.234764
9130              3096.511217          379.200000
9131              8163.890428          790.784983
9132              7524.442436          691.200000
9133              2611.836866          369.600000

[9134 rows x 2 columns]

In [10]:
customer_df[["income","months_since_policy_inception","months_since_policy_inception","monthly_premium_auto","months_since_last_claim", "number_of_open_complaints", "number_of_policies"]] = customer_df[["income","months_since_policy_inception","months_since_policy_inception", "monthly_premium_auto","months_since_last_claim", "number_of_open_complaints", "number_of_policies"]].apply(pd.to_numeric)

In [11]:
numericals = customer_df.select_dtypes(np.number)
numericals

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274.000000,69,32,5,0,1,384.811147
1,6979.535903,37657.380009,94,13,42,0,8,1131.464935
2,12887.431650,48767.000000,108,18,38,0,2,566.472247
3,7645.861827,37657.380009,106,18,65,0,7,529.881344
4,2813.692575,43836.000000,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941.000000,73,18,89,0,2,198.234764
9130,3096.511217,21604.000000,79,14,28,0,1,379.200000
9131,8163.890428,37657.380009,85,9,37,3,2,790.784983
9132,7524.442436,21941.000000,96,34,3,0,3,691.200000
9133,2611.836866,37657.380009,77,3,90,0,1,369.600000

In [12]:
discrete = [i for i in numericals if (len(numericals[i].unique()) < (numericals.shape[0] * 0.01))]
discrete

['months_since_last_claim', 'number_of_open_complaints', 'number_of_policies']

In [13]:
discrete_df=customer_df[discrete]

In [14]:
continuous = list(numericals.drop(columns = discrete).columns) #drop discrete values
continuous

['customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_policy_inception',
 'total_claim_amount']

In [15]:
def outliers(column, threshold = 3): #a function to find outliers
    data = column[abs(column.apply(lambda x: (x - column.mean()) / column.var() ** (1/2))) > threshold]
    return data

In [16]:
CLV_outliers = outliers(customer_df["customer_lifetime_value"])
MPA_outliers = outliers(customer_df["monthly_premium_auto"])

In [17]:
to_drop = CLV_outliers.index | MPA_outliers.index # Union

In [18]:
clean_customer_df = customer_df.drop(to_drop).reset_index(drop = True) #dropped the outliers and reset the index
clean_customer_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274.000000,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,37657.380009,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767.000000,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,37657.380009,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836.000000,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941.000000,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
8749,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604.000000,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
8750,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,37657.380009,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
8751,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941.000000,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
8752,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,37657.380009,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [19]:
clean_customer_df[continuous].head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,total_claim_amount
0,2763.519279,56274.000000,69,5,384.811147
1,6979.535903,37657.380009,94,42,1131.464935
2,12887.431650,48767.000000,108,38,566.472247
3,7645.861827,37657.380009,106,65,529.881344
4,2813.692575,43836.000000,73,44,138.130879

In [20]:
continuous.remove("months_since_policy_inception")
continuous.remove("total_claim_amount")

In [21]:
clean_customer_df[continuous].head()

   customer_lifetime_value        income  monthly_premium_auto
0              2763.519279  56274.000000                    69
1              6979.535903  37657.380009                    94
2             12887.431650  48767.000000                   108
3              7645.861827  37657.380009                   106
4              2813.692575  43836.000000                    73

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

In [25]:
columns = clean_customer_df[continuous].columns      # must be done in the same dataframe, I was creating multiple which was causing an issue

def scale_data(data, columns, scaler):
    for col in columns:
        data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))
    return data

scale_data(clean_customer_df, columns, StandardScaler())

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,-0.903549,No,Basic,Bachelor,2011-02-24,Employed,F,0.414473,Suburban,Married,-0.754385,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,-0.036574,No,Extended,Bachelor,2011-01-31,Unemployed,F,-0.439698,Suburban,Single,0.165097,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,1.178317,No,Premium,Bachelor,2011-02-19,Employed,F,0.070035,Suburban,Married,0.680007,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,0.100449,No,Basic,Bachelor,2011-01-20,Unemployed,M,-0.439698,Suburban,Married,0.606449,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,-0.893231,No,Basic,Bachelor,2011-02-03,Employed,M,-0.156209,Rural,Single,-0.607268,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,LA72316,California,3.341336,No,Basic,Bachelor,2011-02-10,Employed,M,1.133308,Urban,Married,-0.607268,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
8749,PK87824,California,-0.835073,Yes,Extended,College,2011-02-12,Employed,F,-1.176261,Suburban,Divorced,-0.386592,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
8750,TD14365,California,0.206975,No,Extended,Bachelor,2011-02-06,Unemployed,M,-0.439698,Suburban,Single,-0.165917,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
8751,UP19263,California,0.075480,No,Extended,College,2011-02-03,Employed,M,-1.160799,Suburban,Married,0.238656,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
8752,Y167826,California,-0.934741,No,Extended,College,2011-02-14,Unemployed,M,-0.439698,Suburban,Single,-0.460151,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [26]:
#exploration and visualisation done in other workbook (Cleaning numerical & categorical data)

In [27]:
#Manually dropping outliers - this caused a problem with the index
#continuous_df = numericals.drop(columns = discrete)

In [28]:
#q3 = continuous_df['monthly_premium_auto'].quantile(.75)
#q1 = continuous_df['monthly_premium_auto'].quantile(.25)

# calculating the interquartile range
#iqr = q3 - q1

# calculating the median
#median = continuous_df['monthly_premium_auto'].median()

# defining the upper limit of the data according to the 1.5*IQR rule
#outlier_limit_upper = median + 1.5*iqr

# defining the lower limit of the data according to the 1.5*IQR rule
#outlier_limit_lower = median - 1.5*iqr

#outlier_limit_upper

In [29]:
#continuous_df= continuous_df[continuous_df['monthly_premium_auto'] < outlier_limit_upper] #getting rid of outliers

In [30]:
#q3 = continuous_df['customer_lifetime_value'].quantile(.75)
#q1 = continuous_df['customer_lifetime_value'].quantile(.25)

# calculating the interquartile range
#iqr = q3 - q1

# calculating the median
#median = continuous_df['customer_lifetime_value'].median()

# defining the upper limit of the data according to the 1.5*IQR rule
#outlier_limit_upper = median + 1.5*iqr

# defining the lower limit of the data according to the 1.5*IQR rule
#outlier_limit_lower = median - 1.5*iqr

#outlier_limit_upper

In [31]:
#continuous_df= continuous_df[continuous_df['customer_lifetime_value'] < outlier_limit_upper]

In [32]:
categorical = customer_df.select_dtypes(np.object)

In [33]:
categorical.nunique() #check unique values to see if there is any categorical with too much data

customer            9134
state                  5
response               2
coverage               3
education              5
employmentstatus       5
gender                 2
location_code          3
marital_status         3
policy_type            3
policy                 9
renew_offer_type       4
sales_channel          4
vehicle_class          6
vehicle_size           3
dtype: int64

In [34]:
categorical_columns = [i for i in categorical if (len(categorical[i].unique()) < (numericals.shape[0] * 0.01))]

In [35]:
#categorical_df=customer_df[categorical_columns] #defines a new data frame with just categoricals with binary/few options

In [36]:
#cat_df= categorical_df.copy()

In [37]:
pip install category_encoders

Requirement already satisfied: category_encoders in ./opt/anaconda3/lib/python3.8/site-packages (2.2.2)
Requirement already satisfied: pandas>=0.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: patsy>=0.5.1 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: statsmodels>=0.9.0 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: scikit-learn>=0.20.0 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: scipy>=1.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in ./opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
from sklearn.preprocessing import OneHotEncoder

#ordinal = clean_customer_df.drop(columns = "customer")
one_hot = clean_customer_df

import category_encoders as ce

one_hot_colums = one_hot.select_dtypes(include = object).columns[1:]
clean_customer_df = pd.get_dummies(one_hot, columns = one_hot_colums)

In [56]:
final_df= clean_customer_df.drop(columns="customer")
final_df= final_df.drop(columns="effective_to_date")

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(final_df.drop(columns = "total_claim_amount"),
                                                    final_df.total_claim_amount, test_size = 0.2)

In [59]:
np.asarray(final_df)

array([[-0.90354879,  0.41447267, -0.75438534, ...,  0.        ,
         1.        ,  0.        ],
       [-0.03657369, -0.43969764,  0.16509717, ...,  0.        ,
         1.        ,  0.        ],
       [ 1.1783168 ,  0.07003547,  0.68000737, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.20697514, -0.43969764, -0.16591654, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.07548005, -1.16079875,  0.23865577, ...,  1.        ,
         0.        ,  0.        ],
       [-0.93474052, -0.43969764, -0.46015094, ...,  0.        ,
         1.        ,  0.        ]])

In [60]:
final_df.apply(pd.to_numeric) #error flagged saying it was the wrong data type (object)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,coverage_Basic,coverage_Extended,coverage_Premium,education_Bachelor,education_College,education_Doctor,education_High School or Below,education_Master,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,gender_F,gender_M,location_code_Rural,location_code_Suburban,location_code_Urban,marital_status_Divorced,marital_status_Married,marital_status_Single,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,policy_Corporate L1,policy_Corporate L2,policy_Corporate L3,policy_Personal L1,policy_Personal L2,policy_Personal L3,policy_Special L1,policy_Special L2,policy_Special L3,renew_offer_type_Offer1,renew_offer_type_Offer2,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Large,vehicle_size_Medsize,vehicle_size_Small
0,-0.903549,0.414473,-0.754385,32,5,0,1,384.811147,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
1,-0.036574,-0.439698,0.165097,13,42,0,8,1131.464935,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
2,1.178317,0.070035,0.680007,18,38,0,2,566.472247,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
3,0.100449,-0.439698,0.606449,18,65,0,7,529.881344,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
4,-0.893231,-0.156209,-0.607268,12,44,0,1,138.130879,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,3.341336,1.133308,-0.607268,18,89,0,2,198.234764,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0
8749,-0.835073,-1.176261,-0.386592,14,28,0,1,379.200000,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
8750,0.206975,-0.439698,-0.165917,9,37,3,2,790.784983,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
8751,0.075480,-1.160799,0.238656,34,3,0,3,691.200000,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0
8752,-0.934741,-0.439698,-0.460151,3,90,0,1,369.600000,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0

In [61]:
np.asarray(final_df)

array([[-0.90354879,  0.41447267, -0.75438534, ...,  0.        ,
         1.        ,  0.        ],
       [-0.03657369, -0.43969764,  0.16509717, ...,  0.        ,
         1.        ,  0.        ],
       [ 1.1783168 ,  0.07003547,  0.68000737, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.20697514, -0.43969764, -0.16591654, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.07548005, -1.16079875,  0.23865577, ...,  1.        ,
         0.        ,  0.        ],
       [-0.93474052, -0.43969764, -0.46015094, ...,  0.        ,
         1.        ,  0.        ]])

In [ ]:
#X_train.astype(int).fit() - had to add this extra to the model because date time was throwing it out of balance - however ended up not functioning properly anyway so removed datetime.

In [63]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

X_train_wi=sm.add_constant(X_train)
model=sm.OLS(y_train,X_train_wi).fit() #had to add this extra bit .astype(int) for it to work 



print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.753
Model:                            OLS   Adj. R-squared:                  0.751
Method:                 Least Squares   F-statistic:                     440.9
Date:                Fri, 13 Nov 2020   Prob (F-statistic):               0.00
Time:                        23:25:09   Log-Likelihood:                -43964.
No. Observations:                7002   AIC:                         8.803e+04
Df Residuals:                    6953   BIC:                         8.836e+04
Df Model:                          48
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             65.4083      3.285     19.913      0.000      58.969      71.847
customer_lifetime_value           -2.0308      1.648     -1.232      0.218      -5.261       1.200
income                            -5.8189      1.974     -2.947      0.003      -9.689      -1.949
monthly_premium_auto             146.9017      7.298     20.130      0.000     132.596     161.208
months_since_last_claim            0.3009      0.155      1.946      0.052      -0.002       0.604
months_since_policy_inception     -0.0560      0.056     -0.995      0.320      -0.166       0.054
number_of_open_complaints         -3.5536      1.727     -2.057      0.040      -6.939      -0.168
number_of_policies                 0.9627      0.645      1.493      0.136      -0.302       2.227
state_Arizona                     10.5683      3.367      3.139      0.002       3.968      17.169
state_California                  16.8456      2.784      6.050      0.000      11.387      22.304
state_Nevada                      11.5923      4.331      2.677      0.007       3.103      20.082
state_Oregon                      12.0635      2.927      4.122      0.000       6.326      17.801
state_Washington                  14.3386      4.557      3.147      0.002       5.406      23.271
response_No                       41.1186      2.831     14.527      0.000      35.570      46.667
response_Yes                      24.2897      3.041      7.987      0.000      18.328      30.251
coverage_Basic                    32.0533      5.440      5.892      0.000      21.390      42.717
coverage_Extended                 16.1437      2.765      5.838      0.000      10.723      21.564
coverage_Premium                  17.2113      8.287      2.077      0.038       0.967      33.455
education_Bachelor                16.6448      3.137      5.306      0.000      10.495      22.794
education_College                 10.9455      3.138      3.488      0.000       4.795      17.096
education_Doctor                   2.5459      6.698      0.380      0.704     -10.585      15.677
education_High School or Below    24.6951      3.212      7.689      0.000      18.399      30.991
education_Master                  10.5770      4.871      2.171      0.030       1.028      20.126
employmentstatus_Disabled         -6.8442      6.562     -1.043      0.297     -19.708       6.020
employmentstatus_Employed         -5.1309      4.026     -1.274      0.203     -13.024       2.762
employmentstatus_Medical Leave     8.7606      6.278      1.395      0.163      -3.546      21.068
employmentstatus_Retired          -4.2651      8.127     -0.525      0.600     -20.196      11.666
employmentstatus_Unemployed       72.8879      4.062     17.946      0.000      64.926      80.850
gender_F                          26.6647      2.273     11.731      0.000      22.209      31.121
gender_M                          38.7436      2.269     17.072      0.000      34.295      43.192
location_code_Rural             -172.3412      3.057    -56.379      0.000    -178.334    -166.349
location_code_Suburban           196.3299      2.658     73.870      0.000     191.120     201.540
location_code_Urban               41.4195      3.137     13.202      0.000      35.270      47.570
marital_status_Divorced            3.9600      3.275      1.209      0.227      -2.461      10.381
marital_status_Married            -1.9905      2.451     -0.812      0.417      -6.796       2.815
marital_status_Single             63.4388      2.948     21.520      0.000      57.660      69.218
policy_type_Corporate Auto        17.6721      2.967      5.956      0.000      11.856      23.488
policy_type_Personal Auto         20.5371      2.555      8.037      0.000      15.528      25.546
policy_type_Special Auto          27.1991      4.573      5.948      0.000      18.235      36.163
policy_Corporate L1                5.2657      6.269      0.840      0.401      -7.023      17.555
policy_Corporate L2                7.3119      5.092      1.436      0.151      -2.670      17.294
policy_Corporate L3                5.0944      4.403      1.157      0.247      -3.537      13.726
policy_Personal L1                13.1373      3.352      3.919      0.000       6.566      19.708
policy_Personal L2                 0.6468      2.801      0.231      0.817      -4.845       6.138
policy_Personal L3                 6.7529      2.475      2.729      0.006       1.901      11.605
policy_Special L1                 36.9783     14.017      2.638      0.008       9.501      64.455
policy_Special L2                  0.7540     10.613      0.071      0.943     -20.050      21.558
policy_Special L3                -10.5332     10.777     -0.977      0.328     -31.659      10.593
renew_offer_type_Offer1            7.6065      2.731      2.785      0.005       2.253      12.960
renew_offer_type_Offer2           24.9757      2.811      8.883      0.000      19.464      30.487
renew_offer_type_Offer3           15.2014      3.429      4.433      0.000       8.479      21.924
renew_offer_type_Offer4           17.6248      3.940      4.473      0.000       9.901      25.349
sales_channel_Agent               16.8218      2.574      6.535      0.000      11.776      21.868
sales_channel_Branch              17.7851      2.772      6.416      0.000      12.351      23.219
sales_channel_Call Center         11.2941      3.134      3.604      0.000       5.151      17.437
sales_channel_Web                 19.5073      3.458      5.641      0.000      12.729      26.286
vehicle_class_Four-Door Car       19.2374     14.886      1.292      0.196      -9.944      48.419
vehicle_class_Luxury Car          38.5749     22.918      1.683      0.092      -6.351      83.501
vehicle_class_Luxury SUV          14.5958     23.296      0.627      0.531     -31.072      60.264
vehicle_class_SUV                 -6.8987      5.662     -1.218      0.223     -17.997       4.200
vehicle_class_Sports Car         -18.9334      7.433     -2.547      0.011     -33.504      -4.363
vehicle_class_Two-Door Car        18.8323     15.015      1.254      0.210     -10.602      48.266
vehicle_size_Large                21.1425      3.656      5.783      0.000      13.975      28.310
vehicle_size_Medsize              16.2470      2.505      6.485      0.000      11.336      21.158
vehicle_size_Small                28.0188      3.216      8.712      0.000      21.714      34.323
==============================================================================
Omnibus:                     2784.928   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            24398.331
Skew:                           1.667   Prob(JB):                         0.00
Kurtosis:                      11.516   Cond. No.                     1.22e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.52e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [64]:
from sklearn.linear_model import LinearRegression as LinReg

linreg=LinReg()    
linreg.fit(X_train, y_train)   
y_pred_linreg=linreg.predict(X_test)

In [65]:
print ('train R2: {} -- test R2: {}'.format(linreg.score(X_train, y_train),
                                            linreg.score(X_test, y_test)))

train R2: 0.7526957984184204 -- test R2: 0.7459324641534346

In [66]:
from sklearn.metrics import mean_squared_error as mse


train_mse=mse(linreg.predict(X_train), y_train)
test_mse=mse(linreg.predict(X_test), y_test)

print ('train MSE: {} -- test MSE: {}'.format(train_mse, test_mse))

train MSE: 16642.869433768108 -- test MSE: 16113.365661777241

In [67]:
print ('train RMSE: {} -- test RMSE: {}'.format(train_mse**.5, test_mse**.5))

train RMSE: 129.00724566383124 -- test RMSE: 126.93843256388998

In [68]:
from sklearn.metrics import mean_absolute_error as mae

train_mae=mae(linreg.predict(X_train), y_train)
test_mae=mae(linreg.predict(X_test), y_test)

print ('train MAE: {} -- test MAE: {}'.format(train_mse, test_mse))

train MAE: 16642.869433768108 -- test MAE: 16113.365661777241

In [70]:
from sklearn.linear_model import Lasso, Ridge, ElasticNet, SGDRegressor

In [71]:
def models_automation(models, X_train, y_train):
    for model in models:
        model.fit(X_train, y_train)
        print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

linear_models = [Lasso(), Ridge(), ElasticNet()]
models_automation(linear_models, X_train, y_train)

Lasso: Train -> 0.7500062749126017, Test -> 0.7443665720060779
Ridge: Train -> 0.7526955721875579, Test -> 0.7459482032112927
ElasticNet: Train -> 0.5966741967658129, Test -> 0.5937985900673901