In [2]:
# Import the 'ingredients'

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

db_url = f'mysql+pymysql://root:{password}@localhost/bank'

········

In [7]:
query = ''' select * from loan '''

In [9]:
pd.read_sql_query(query, db_url)

,loan_id,account_id,date,amount,duration,payments,status,description
0,5314,1787,930705,96396,12,8033.0,B,Defaulter - Contract Finished
1,5316,1801,930711,165960,36,4610.0,A,Good - Contract Finished
2,6863,9188,930728,127080,60,2118.0,A,Good - Contract Finished
3,5325,1843,930803,105804,36,2939.0,A,Good - Contract Finished
4,7240,11013,930906,274740,60,4579.0,A,Good - Contract Finished
...,...,...,...,...,...,...,...,...
677,4989,105,981205,352704,48,7348.0,C,Good - Contract Running
678,5221,1284,981205,52512,12,4376.0,C,Good - Contract Running
679,6402,6922,981206,139488,24,5812.0,C,Good - Contract Running
680,5346,1928,981206,55632,24,2318.0,C,Good - Contract Running
681,6748,8645,981208,240900,60,4015.0,C,Good - Contract Running